<% provide(:title, "About") %>
<% provide(:headline, "About SocialCurveManager!") %>
<% provide(:icon, "info-sign") %>

<div class='row'>
  <h2 style="text-align:center">Manager Services</h2>
</div>

<div class='row'>
  <div class='col-sm-16'>
    <div class='box'>
      <div class='box-header'>
        <div class='title'>
          Page Growth Services
        </div>
      </div>
      <div class='box-content'>
          <table style="margin-left: 150px">
            <tr>
              <td>
                <div class="text-right">
                  <img src="graph.png">
                </div>
              </td>
              <td>
                <div class="text-center">
                  <h5>Page Management</h5>
                  <p>We provide cutting edge page management services.<br>
                  By leveraging EdgeRank and other behind the scenes Algorithms,<br> 
                  we optimize content delivery so that every drop of exposure is utilized.</p>
                  <h5>Content Tailoring</h5>
                  <p>By matching proven viral content with the demographic and audience preferences,<br>
                  we leverage Social Media viral metrics to benefit you.<br>
                  Increase exposure, reach, and user engagement with our battle tested methods.</p>
                  <h5>Analytics</h5>
                  <p>The data behind the scenes can make a very big difference <br>
                  in how you interact with your following. <br>
                  We continually monitor your audience's preferences and usage patterns <br>
                  to optimize growth and ensure that fans are getting the experience they expect from your page.</p> 
                </div>
              </td>
            </tr>
            <tr>
              <td style="text-align:center"><i>Traffic over time display</i></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

<div style="margin-top: 150px">
  <p style="text-align:center">________________________________________________________________________________________________</p>
</div>

<div style = "margin-top: 150px"></div>

<div class='row'>
  <div class='col-sm-16'>
    <div class='box'>
      <div class='box-header'>
        <div class='title'>
          On Page Monetization Services
        </div>
      </div>
      <div class='box-content'>
          <table style="margin-left: 150px">
            <tr>
              <td>
                <div class="text-center">
                  <h5>Publishers</h5>
                  <p>Our network of publishers loves to get their message out. <bR>
                  Commanding a following of greater than 300,000, <br>
                  we can help you monetize it with content your fans will love.</p>
                    
                  <h5>Drive Traffic, Earn Cash</h5>
                  <p>We custom pick content from our trusted publishers for your following. <br>
                  Post it on your page, and get paid for its performance. <br>
                  We offer extremely competitive PPC (Pay Per Click) rates. <br>
                  Contact us today and get an offer on your page within 24 hours!</p>
                  
                  <h5>Analytics</h5>
                  <p>We monitor the performance of content so you can rest easy<br>
                  knowing we are doing the optimization on your behalf. <br>
                  Additionally, we keep you informed on the health of your community.</p>
                </div>
              </td>
              <td>
                <div class="text-right">
                  <img src="/assets/graph.png">
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align:center"><i>Traffic over time display</i></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

<div style="margin-top: 150px">
  <p style="text-align:center">________________________________________________________________________________________________</p>
</div>

<div style="margin-top: 150px"></div>

<div class='row'>
  <div class='col-sm-16'>
    <div class='box'>
      <div class='box-header'>
        <div class='title'>
          External Monetization Services
        </div>
      </div>
      <div class='box-content'>
          <table style="margin-left: 150px">
            <tr>
              <td>
                <div class="text-right">
                  <img src="/assets/graph.png">
                </div>
              </td>
              <td>
                <div class="text-center">
                  <h5>Custom External Monetization Site</h5>
                  <p>Command a following of multiple millions? <br>
                  For those influencers who need additional control of Brand identity,<br>
                  our custom external site provides a great flexible option.</p>
                  
                  <h5>Branded and Effective</h5>
                  <p>Drive traffic from your existing Social Media sources <br>
                  to a site branded just for you. We pack the site full <br>
                  of interesting, fun, and engaging content your following will enjoy. </p>
                  
                  <h5>Revenue Split</h5>
                  <p>Using your large following, and our social media expertise, <br>
                  our custom external site option provides an excellent revenue sharing platform. <bR>
                  Simply put, we manage, run, and curate content, <br>
                  and we share the revenue generated from on page advertisements.</p>
                </div>
              </td>
            </tr>
            <tr>
              <td style="text-align:center"><i>Traffic over time display</i></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
