<% provide(:title, "Contact Us") %>
<% provide(:headline, "Contact Us!") %>
<% provide(:icon, "phone") %>

We would love to hear your feedback, to improve and continue to improve this tool!
<br><br>
<ul class="contact-info">
    <li class="phone">Phone: <%= link_to "(512) 461-4164", "tel:(512) 776-5505" %></li>
    <li class="mail">E-Mail: <%= link_to "hello@socialcurve.io", "mailto:hello@socialcurve.io" %></li>
</ul>
<h2>Developers</h2>
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Phone No.</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Joshua Kruger</td>
      <td>(512) xxx-xxxx</td>
      <td>joshuackruger@gmail.com</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Andrew Zarrillo</td>
      <td>(512) xxx-xxxx</td>
      <td>andrewzarrillo@gmail.com</td>
    </tr>
</table>
<br>