<% provide(:title, 'Contact') %>
<h1><strong>Contact Us!</strong></h1>
<p>We would love to hear your feedback, to improve and continue to improve this tool!</p>
<ul class="contact-info">
    <li class="phone">Phone: <%= link_to "(512) 461-4164", "tel:(512) 776-5505" %></li>
    <li class="mail">E-Mail: <%= link_to "joshuackruger@gmail.com", "mailto:joshuackruger@gmail.com" %></li>
</ul>
<h2>Developers <b>(non-production only please)</b></h2>
<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Phone No.</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Joshua Kruger</td>
      <td>(512) 461-4164</td>
      <td>joshuackruger@gmail.com</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Lauren Fuller</td>
      <td>(919) 995-2654</td>
      <td>lef592@tamu.edu</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Scott Jasper</td>
      <td>(469) 360-1968</td>
      <td>scojasp@gmail.com</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Jacob Brown</td>
      <td>(832) 262-6408</td>
      <td>hadle9@email.tamu.edu</td>
    </tr>
</table>