<% provide(:title, "Help") %>
<% provide(:headline, "Help") %>
<% provide(:icon, "question-sign") %>
<!-- <p>We do not include help documentation, as we believe all of our code is self-documenting.</p> -->
<div class='faq'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='tabbable'>
          <ul class='nav nav-responsive nav-tabs'>
            <li class='active'>
              <a data-toggle='tab' href='#faq1'>
                <i class='icon-cloud-upload'></i>
                General Help
              </a>
            </li>
            <% if logged_in? %>
                <% if current_user.admin? || !current_user.publisher? %>
                <li class=''>
                  <a data-toggle='tab' href='#faq2'>
                    <i class='icon-angle-left'></i>
                    User-Specific Help
                  </a>
                </li>
                <% end %>
                <% if current_user.admin? || current_user.publisher? %>
                <li class=''>
                  <a data-toggle='tab' href='#faq3'>
                    <i class='icon-desktop'></i>
                    Publisher-Specific Help
                  </a>
                </li>
                <% end %>
                <% if current_user.admin? %>
                <li class=''>
                  <a data-toggle='tab' href='#faq4'>
                    <i class='icon-hospital'></i>
                    Admin-Specific Help
                  </a>
                </li>
                <% end %>
            <% end %>
          </ul>
          <div class='tab-content'>
            <div class='tab-pane active' id='faq1'>
              <div class='panel-group' id='accordion1'>
                <div class='panel panel-default'>
                  <div class='panel-heading'>
                    <a class='accordion-toggle' data-parent='#accordion1' data-toggle='collapse' href='#collapse1-1'>
                      <div class='text-contrast'>My signin doesn't work!</div>
                    </a>
                  </div>
                  <div class='panel-collapse collapse' id='collapse1-1'>
                    <div class='panel-body'>
                      Have you already tried re-typing your password? All passwords are case-sensitive. Do you have an account yet? If not, <%= link_to "you can sign up now!",signup_url %>
                    </div>
                  </div>
                </div>
                <div class='panel panel-default'>
                  <div class='panel-heading'>
                    <a class='accordion-toggle' data-parent='#accordion1' data-toggle='collapse' href='#collapse1-2'>
                      <div class='text-contrast'>When I try to access <i>X</i> resource, I keep being sent back to the home page!</div>
                    </a>
                  </div>
                  <div class='panel-collapse collapse' id='collapse1-2'>
                    <div class='panel-body'>
                      You might have been signed out automatically. <%= link_to "Please sign in again!", signin_url %> Either that, or you may be trying to access a resource you do not currently have permission to access. Please ensure you use only links that we provide you.
                    </div>
                  </div>
                </div>
                <div class='panel panel-default'>
                  <div class='panel-heading'>
                    <a class='accordion-toggle' data-parent='#accordion1' data-toggle='collapse' href='#collapse1-3'>
                      <div class='text-contrast'>I keep on receiving errors, and I know I have access to the links!</div>
                    </a>
                  </div>
                  <div class='panel-collapse collapse' id='collapse1-3'>
                    <div class='panel-body'>
                      This may be a bug in the system - please <%= link_to "contact us", contact_url %>, and we will look into the problem! Please be as detailed as you can in the report, but for the sake of security, please do not send us your password.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% if logged_in? %>
            <% if current_user.admin? || !current_user.publisher? %>
            <div class='tab-pane ' id='faq2'>
              <div class='panel-group' id='accordion2'>
                <div class='panel panel-default'>
                  <div class='panel-heading'>
                    <a class='accordion-toggle' data-parent='#accordion2' data-toggle='collapse' href='#collapse2-1'>
                      <div class='text-contrast'>I have no content available to select from!</div>
                    </a>
                  </div>
                  <div class='panel-collapse collapse' id='collapse2-1'>
                    <div class='panel-body'>
                      You have run out of new links! You may need to wait for publishers to post additional content for you to post.
                    </div>
                  </div>
                </div>
                <div class='panel panel-default'>
                  <div class='panel-heading'>
                    <a class='accordion-toggle' data-parent='#accordion2' data-toggle='collapse' href='#collapse2-2'>
                      <div class='text-contrast'>My friend has <i>X</i> link, but I can't see it myself!</div>
                    </a>
                  </div>
                  <div class='panel-collapse collapse' id='collapse2-2'>
                    <div class='panel-body'>
                      Although we generally broadly hand out links for users to post, your friend may have different qualifications for that specific link, and thus the link was assigned to them, specifically.
                    </div>
                  </div>
                </div>
                <div class='panel panel-default'>
                  <div class='panel-heading'>
                    <a class='accordion-toggle' data-parent='#accordion2' data-toggle='collapse' href='#collapse2-3'>
                      <div class='text-contrast'>I got some clicks on <i>X</i> page, but I can't cash out for that page!</div>
                    </a>
                  </div>
                  <div class='panel-collapse collapse' id='collapse2-3'>
                    <div class='panel-body'>
                      Unfortunately, this only happens if you attempt to cash out the same page twice. Only one cashout per page is allowed - choose when to cash out wisely!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
            <% if current_user.admin? || current_user.publisher? %>
            <div class='tab-pane ' id='faq3'>
              <div class='panel-group' id='accordion3'>
                <div class='panel panel-default'>
                  <div class='panel-heading'>
                    <a class='accordion-toggle' data-parent='#accordion3' data-toggle='collapse' href='#collapse3-1'>
                      <div class='text-contrast'>No users are able to receive my links!</div>
                    </a>
                  </div>
                  <div class='panel-collapse collapse' id='collapse3-1'>
                    <div class='panel-body'>
                      Please be patient - we apologize, but our admins probabaly have yet to approve and distribute your links to the userbase.
                    </div>
                  </div>
                </div>
                <div class='panel panel-default'>
                  <div class='panel-heading'>
                    <a class='accordion-toggle' data-parent='#accordion3' data-toggle='collapse' href='#collapse3-2'>
                      <div class='text-contrast'>I'm confused about what CPM means.</div>
                    </a>
                  </div>
                  <div class='panel-collapse collapse' id='collapse3-2'>
                    <div class='panel-body'>
                      CPM represents the cost of your link per 1000 clicks. For instance, if you assign a CPM of $2.00, and 100 users click on your link, you will be charged $0.20.<br><br>If you know how much you would like to pay your users, per <b>individual click</b>, multiply your individual-click value by 1000.
                    </div>
                  </div>
                </div>
                <div class='panel panel-default'>
                  <div class='panel-heading'>
                    <a class='accordion-toggle' data-parent='#accordion3' data-toggle='collapse' href='#collapse3-3'>
                      <div class='text-contrast'>How do I give my links directly to users?</div>
                    </a>
                  </div>
                  <div class='panel-collapse collapse' id='collapse3-3'>
                    <div class='panel-body'>
                      Generally, all links need to be approved by admins before they are given to users. However, certain businesses do have certain agreements with us to instantly make links available to users - please contact us using the link below for more information.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
            <% if current_user.admin? %>
            <div class='tab-pane ' id='faq4'>
              <div class='panel-group' id='accordion4'>
                <div class='panel panel-default'>
                  <div class='panel-heading'>
                    <a class='accordion-toggle' data-parent='#accordion4' data-toggle='collapse' href='#collapse4-1'>
                      <div class='text-contrast'>How do I assign a link?</div>
                    </a>
                  </div>
                  <div class='panel-collapse collapse' id='collapse4-1'>
                    <div class='panel-body'>
                      From your dashboard, click on "Link List". From this screen, the rightmost column of each link should be the assign button.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
	  </div>
	</div>
