<% provide(:title, "Home") %>
<% provide(:headline, "Social Curve Manager") %>
<% provide(:icon, "home") %>
 <center>
 <iframe src="https://player.vimeo.com/video/43338103?color=ebebeb&title=0&byline=0&portrait=0" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </center>
 
 
        <div class='container'>
          <div class='row' id='content-wrapper'>
            <div class='col-xs-12'>
              
              <div class='row pricing-tables'>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table'>
                    <div class='header'>STARTER</div>
                    <div class='price blue-background'>
                      <span>$20</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>1</strong>
                        user
                      </li>
                      <li>
                        <strong>10GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>20</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>10GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>20</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-primary" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table'>
                    <div class='header'>Basic</div>
                    <div class='price orange-background'>
                      <span>$30</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>2</strong>
                        users
                      </li>
                      <li>
                        <strong>20GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>30</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>20GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>30</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-warning" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table'>
                    <div class='header'>Pro</div>
                    <div class='price red-background'>
                      <span>$50</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>4</strong>
                        users
                      </li>
                      <li>
                        <strong>40GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>40</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>40GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>40</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-danger" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table'>
                    <div class='header'>Ultimate</div>
                    <div class='price purple-background'>
                      <span>$99</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>99</strong>
                        users
                      </li>
                      <li>
                        <strong>99GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>99</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>99GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>99</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-info" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>