<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Social Curve</h1>
    <p>
         This is the home page for Social Curve. Welcome! 
    </p>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div> 

