<table width="100%" height="100%" border=1><tr>
	<td rowspan=2 style="sidebar">
        <div style="text-align:center">
			<%= gravatar_for(current_user) %><br><br>
            <h2><%= current_user.first %> <%= current_user.last %></h2>
		</div>
		<ul>
			<li>Some</li>
			<li>Important</li>
			<li>Links</li>
			<li><%= link_to "Publisher Settings", controller: "users", action: "edit", id: current_user.id %></li>
		</ul>
		</div>
    </td>
	<td class="topbar">
		<h1>Publisher Dashboard</h1>
	</td></tr>
    <tr>
    <td>
        <table border=1 class="main">
            <tr>
                <td class="cell">
                    <div class="top"><h2>Create Post</h2></div>
					<div class="bot">Create Post >></div>
                </td>
                <td class="cell">
                    <div class="top"><h2>View Posts</h2></div>
					<div class="bot">0 current posts</div>
                </td>
            </tr>
            <tr>
                <td class="cell">
                    <div class="top"><h2>Your Statistics</h2></div>
					<div class="bot">0 new clicks<br>0 clicks total</div>
                </td>
                <td class="cell">
                    <div class="top"><h2>Payments</h2></div>
					<div class="bot">Balance: $0.00</div>
                </td>
            </tr>
        </table>
    </td>
</tr></table>