<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to 'Destroy', {action: :destroy, id: user.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</li>