<% provide(:title, "Dashboard") %>
<% provide(:headline, "My Dashboard") %>
<% provide(:icon, "dashboard") %>

<% if current_user.admin? %>
    <h1>Admin Dashboard</h1>
<% elsif current_user.publisher %>
    <h1>Publisher Dashboard</h1>
<% else %>
    <h1>User Dashboard</h1>
<% end %>