<% provide(:title, "New Publisher") %>
<% provide(:headline, "New Publisher") %>
<% provide(:icon, "plus-sign") %>
<h1>New Publisher</h1>

<%= render 'form' %>

<%= link_to 'Back', publishers_path %>
