<% provide(:title, "Editing GeneratedLink") %>
<% provide(:headline, "Editing GeneratedLink") %>
<% provide(:icon, "unchecked") %>
<h1>Editing Generatedlink</h1>

<%= render 'form' %>

<%= link_to 'Show', @generatedlink %> |
<%= link_to 'Back', generatedlinks_path %>
