<div class='row'>
    <div class='col-sm-12'>
      <div class='box bordered-box green-border' style='margin-bottom:0;'>
        <div class='box-header green-background'>
          <div class='title'>Payments</div>
          <div class='actions'>
            <!--<a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i></a>-->
            
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content box-no-padding'>
          <div class='responsive-table'>
            <div class='scrollable-area'>
              <table class='table table-bordered table-hover table-striped' style='margin-bottom:0;'>
                <thead>
                  <tr>
                    <th>
                      Amount
                    </th>
                    <th>
                      Date
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                      Details
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @payments.each do |transaction| %>
                   <tr>
                    <td><%= transaction.amount %></td>
                    <td><%= transaction.created_at.to_date%></td>
                    <td>
                      <span class='label label-success'>PAID</span>
                    </td>
                    <td>
                      <%= link_to 'Show', transaction %>
                      
                    </td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>