  <div class='box-content box-double-padding'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='alert alert-info alert-dismissable'>
                      <!--<a class="close" data-dismiss="alert" href="#">&times;</a>-->
      
          <h4>
            <i class='icon-info-sign'></i>
           What do I need to do to begin recieving payments?
          </h4>
            Once your account has been verified, meaning you see content in the "Add Content" tab, simply click settings and enter your PayPal Information 
        </div>
        </div>
    </div>
  </div>

<div class='row'>
    <div class='col-sm-12'>
      <div class='box bordered-box green-border' style='margin-bottom:0;'>
        <div class='box-header green-background'>
          <div class='title'>Payments</div>
          <div class='actions'>
            <!--<a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i></a>-->
            
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content box-no-padding'>
          <div class='responsive-table'>
            <div class='scrollable-area'>
              <table class='table table-bordered table-hover table-striped' style='margin-bottom:0;'>
                <thead>
                  <tr>
                    <th>
                      Amount
                    </th>
                    <th>
                      Date
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                      Details
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% @payments.each do |transaction| %>
                   <tr>
                    <td><%= transaction.amount %></td>
                    <td><%= transaction.created_at.to_date%></td>
                    <td>
                      <span class='label label-success'>PAID</span>
                    </td>
                    <td>
                      <%= link_to 'Show', transaction %>
                      
                    </td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>