<div class='row'>
    <div class='col-sm-12'>
      <div class='box bordered-box green-border' style='margin-bottom:0;'>
        <div class='box-header green-background'>
          <div class='title'>Striped, hovered and bordered table</div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>
            
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='box-content box-no-padding'>
          <div class='responsive-table'>
            <div class='scrollable-area'>
              <table class='table table-bordered table-hover table-striped' style='margin-bottom:0;'>
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      E-mail
                    </th>
                    <th>
                      Status
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mara Pfeffer</td>
                    <td>holly@yahoo.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Cristian Farrell</td>
                    <td>grace@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Gordon Effertz</td>
                    <td>esta@yahoo.com</td>
                    <td>
                      <span class='label label-warning'>Warning</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Karli Senger</td>
                    <td>joannie@yahoo.com</td>
                    <td>
                      <span class='label label-important'>Important</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Linnea Kuhn</td>
                    <td>deven@yahoo.com</td>
                    <td>
                      <span class='label label-success'>Success</span>
                    </td>
                    <td>
                      <div class='text-right'>
                        <a class='btn btn-success btn-xs' href='#'>
                          <i class='icon-ok'></i>
                        </a>
                        <a class='btn btn-danger btn-xs' href='#'>
                          <i class='icon-remove'></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>