<footer id='footer'>
  <div class='footer-wrapper'>
    <div class='row'>
      <div class='col-sm-6 text'>
        Copyright © 2015 SocialCurve LLC
      </div>
      <div class='col-sm-6 buttons'>
        <a class="btn btn-link" href="/help">Help</a>
        <a class="btn btn-link" href="/contact">Contact Us</a>
      </div>
    </div>
  </div>
</footer>